<!-- Bank Statement Adjustment Voucher - Allocation Module -->
<!-- Sample BSID 92252 -->
 
<div class="animated fadeIn">

  <!-- Search Input -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
           
        <div class="card-body">
          <form [formGroup]= "bankStmtId" >
            <div class="form-row justify-content-center">
              <label class="col-form-label" >BANK STATEMENT ID</label>
              <div class="col-md-3">
                <input class="form-control" formControlName="bankStatementID" (change)="enableserachlabel()">
              </div>
            </div>
          </form> 

          <br>

          <!-- Bank Account Details *ngIf=searchSucceeded -->
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                  <i class="fa fa-align-justify"></i>Bank Account Details
                </div>
                    
                <div class="card-body">
                          
                  <form [formGroup]="bnkAccDetails">
        
                    <!-- bgn: get 2-column form -->
                    <div class="form-row">
                      <!-- 1st Column -->
                      <div class="col-lg-6">
                                        
                        <div class = "form-group row">
                          <label class="col-md-4 col-form-label" >PAYMENT MODE</label>
                          <div class = "col-md-6">
                            <input type="text" class="form-control" formControlName = "paymentMode" disabled>
                          </div>
                        </div>
                                              
                        <div class="form-group row">
                          <label class="col-md-4 col-form-label">CREATION DATE</label>
                            <div class = "col-md-6">
                            <input class="form-control"  formControlName = "creationDate" disabled>
                            </div>
                        </div>
                                  
                        <div class="form-group row">
                          <label class="col-md-4 col-form-label">MODIFIED DATE</label>
                          <div class = "col-md-6">
                            <input class="form-control" id="date-input"  formControlName = "modifiedDate" disabled>
                          </div>
                        </div>
              
                      </div>
                              
                      <!-- 2nd Column: -->
                      <div class="col-lg-6">
        
                        <div class = "form-group row">
                          <label class="col-md-4 col-form-label" >BANK NAME</label>
                          <div class = "col-md-6">
                            <input type="text" class="form-control" formControlName = "bankName" disabled>
                          </div>
                        </div>
                                          
                        <div class = "form-group row">
                          <label class="col-md-4 col-form-label" >ACCOUNT NUMBER</label>
                          <div class = "col-md-6">
                            <input  class="form-control" type="text" formControlName = "accountNo" disabled>
                          </div>
                        </div>
                                            
                        <div class = "form-group row">
                            <label class="col-md-4 col-form-label" >ACCOUNT DESCRIPTION</label>
                            <div class = "col-md-6">
                              <input class="form-control" type="text" formControlName = "accountDesc" disabled>
                            </div>
                        </div>                                                    
                                      
                      </div>
                
                    </div>
                    <!-- end: get 2-column form -->

                  </form>
                
                </div>
              </div>
            </div>
          </div>

          <!-- Bank Statement Details *ngIf=searchSucceeded -->
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                  <i class="fa fa-align-justify"></i>Bank Statement Details
                </div>
          
                <div class="card-body">
                  
                  <form [formGroup] = "bnkStmtDetails">
        
                    <!-- bgn: get 3-column form -->
                    <div class="form-row">
                      <!-- 1st Column -->
                      <div class="col-lg-4">
                              
                        <div class="form-group row">
                          <label class="col-md-4 col-form-label" for="text-input">STATEMENT No.</label>
                          <div class="col-md-6">
                            <input  class="form-control" formControlName="statementNo" disabled>
                          </div>
                        </div>
        
                        <div class="form-group row">
                          <label class="col-md-4 col-form-label">DATE FROM</label>
                          <div class = "col-md-6">
                            <input class="form-control" id="date-input" 
                              formControlName = "fromDate" name="date-input" disabled>
                          </div>
                        </div>
        
                        <div class="form-group row">
                          <label class="col-md-4 col-form-label" for="text-input">OPENING BALANCE</label>
                          <div class="col-md-6">
                            <input type="number" class="form-control" formControlName="openingBalance" disabled>
                          </div>
                        </div>
  
                      </div>
                        
                        <!-- 2nd Column: -->
                      <div class="col-lg-4">
        
                        <div class="form-group row">
                          <label class="col-md-4 col-form-label" for="text-input">POSTING STATUS</label>
                          <div class="col-md-6">
                            <input class="form-control" formControlName="postingStatus" disabled>
                          </div>
                        </div>
        
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">DATE TO</label>
                          <div class = "col-md-6">
                            <input class="form-control"  formControlName = "toDate" disabled>
                            </div>
                        </div>
                                  
                        <div class="form-group row">
                          <label class="col-md-4 col-form-label" for="text-input">CLOSING BALANCE:</label>
                          <div class="col-md-6">
                            <input type="number" class="form-control" formControlName="closingBalance" disabled>
                          </div>
                        </div>
                                
                      </div>
          
                      <!-- end: get -column form -->

                      <!-- 3rd Column -->
                      <div class="col-lg-4">
                  
                        <div class="form-group row">
                          <label class="col-md-4 col-form-label" for="text-input">GL POSTING STATUS</label>
                          <div class="col-md-6">
                            <input class="form-control" formControlName="glPostingStatus" disabled>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-md-4 col-form-label" for="text-input">LOGIN NAME:</label>
                          <div class="col-md-6">
                            <input class="form-control" formControlName="loginName" disabled>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-md-4 col-form-label" for="text-input">BRANCH</label>
                          <div class="col-md-6">
                            <input class="form-control" formControlName="branch"  disabled>
                          </div>
                        </div>

                      </div>

                    </div>
                      
                  </form>
  
                </div>
              </div>
            </div>
          </div>

          <!-- Unspecified Allocations  *ngIf=searchSucceeded -->
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                  <i class="fa fa-align-justify"></i>Unspecified Allocations
                </div>

                <div class = "card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                          <thead class="thead-light">
                            <tr>
                              <th>TRANSACTION TYPE</th>
                              <th>DESCRIPTION</th>
                              <th>PERIOD</th>
                              <th>AMOUNT</th>
                              <TH>GL POSTING STATUS</TH>
                            </tr>
                          </thead>
                          
                          <tbody>
                            <!-- loop for listing the unspecified --> 
                            <tr *ngFor="let unspecified of unspecifieddetails; let i = index" >
                              <td>{{unspecified.bktranstype}}</td>
                              <td>{{unspecified.bktranstypedesc}}</td>
                              <td>{{unspecified.period}}</td>
                              <td>{{unspecified.allocatedamount}}</td>
                              <td>{{unspecified.glPostingStatus}}</td>
                            </tr>
                            <!-- Totals -->
                            <tr class="font-weight-bold">
                              <td colspan="2" class="text-center">Total Un-allocated CRE Amount</td><td>{{creamount | number : '.2-2' }}</td>
                              <td class="text-center">Total Un-allocated LRE Amount</td><td>{{lreamount | number : '.2-2' }}</td>
                            </tr>
                            <tr class="font-weight-bold">
                              <td colspan="2" class="text-center">Total Un-allocated CRX Amount</td><td>{{crxamount | number : '.2-2' }}</td>
                              <td class="text-center">Total Un-allocated LRX Amount</td><td>{{lrxamount | number : '.2-2' }}</td>
                            </tr>
                            
                          </tbody>
          
                        </table>
                        </div>
                </div>

              </div>
            </div>
          </div>

          <!-- Re-allocations -->
          <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-align-justify"></i>Re-allocations
                  </div>
  
                  <div class = "card-body">

                    <!-- bgn: editable -->

                    <form [formGroup]="myForm">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                              <thead class="thead-light">
                                <tr>
                                  <th>Application</th>
                                  <TH>Activity</TH>
                                  <TH>Period</TH>
                                  <th>Reference No.</th>
                                  <th>Reference Status</th>
                                  <th>Payor</th>
                                  <TH>Transaction TYPE</TH>
                                  <th>Amount</th>
                                  <TH>Posting Status</TH>
                                  <th>Delete</th>
                                </tr>
                              </thead>
                              
                              <tbody formArrayName="corrections">

                                <!-- loop for listing the existing allocations --> 
                              <tr *ngFor="let reallocation of reallocationdetails; let i = index" >
                                  <td>{{reallocation.appCode}}</td>
                                  <td>{{reallocation.appActivityCode}}</td>
                                  <td>{{reallocation.toreallocateperiod}}</td>
                                  <td>{{reallocation.referenceNo}}</td>
                                  <td>{{reallocation.referenceStatus}}</td>
                                  <td>{{reallocation.payor}}</td>
                                  <td>{{reallocation.transactionCode}}</td>
                                  <td>{{reallocation.amount}}</td>
                                  <td>{{reallocation.toreallocpostingStatus}}</td>
                                  <td><button type="submit" class="btn btn-md btn-primary" (click)="deleterecordreallocationtodet(i)"><i class="fa fa-trash"></i></button></td>
                                </tr>
                        
                                <!-- Editable rows-->
                                <tr *ngFor="let correction of correctionForms.controls; let i=index" [formGroupName]="i">
                                  <td>
                        
                                    <div class="form-check">
                                      <!-- <input class="form-check-input" type="checkbox" name="corSelect" formControlName="corSelect"  (click)="insertRecordToInsertNewRecordToDet(i)"  *ngIf="IsChecked"> -->
                                      <input class="form-check-input" type="checkbox" name="corSelect" formControlName="corSelect"  (click)="insertRecordToInsertNewRecordToDet(i)" disabled >
                                      <label class="form-check-label" for="corSelect">
                                        <select formControlName="corApplication" (change)="applicationcodeselect(i)" >
                                          <option [ngValue]=appcode *ngFor="let appcode of applicationcodes">{{appcode}}</option>
                                        </select>
                                        
                                        </label>
                                    </div>
                        
                                  </td>
                        
                                      <td>
                                        
                                        <select formControlName="corActivity"  >
                                          <option> please select </option>
                                          <option *ngIf="toplselect">GN</option>
                                          <option *ngIf="toplselect">NB</option>
                                          <option *ngIf="aclselect">LRE</option>
                                          <option *ngIf="aclselect">LRX</option>
                                        </select>
                                      
                                      </td>
                                      <td><input formControlName="corPeriod" type="date"></td>
                                      <td><input formControlName="corRefNo"  (change)="referencedetails(i)"></td>
                                      <td><input formControlName="corRefStatus" disabled></td>
                                      <td><input formControlName="corPayor" disabled></td>
                                      <td>
                                       
                                        <select formControlName="corTransType"  >
                                            <option [ngValue]=transcation *ngFor="let transcation of Transcationtyps">{{transcation}}</option>
                                          </select>
                                      
                                      </td>
                                      <td><input formControlName="corAmount" type="number" (change)="updateamountchanges(i)"></td>
                                      <td><input formControlName="corRPostingStatus" value={{UNPOSTED}} disabled></td>
                                      <td><button type="submit" class="btn btn-md btn-primary" (click)="deleteCorrection(i)"><i class="fa fa-trash"></i></button></td>
                                    </tr>

                                    <!-- Add Button for editable table -->
                                    <tr>
                                      <td colspan="10"><button type="submit" class="btn btn-md btn-primary" (click)="addCorrection(i)" [disabled]="addlabel">ADD</button>
                                      </td>
                                    </tr>

                                    <!-- Totals-->
                                    <tr class="font-weight-bold">
                                        <td colspan="4" class="text-center">Total Re-allocated CRE Amount</td><td class="text-right">{{reallocatecreamount | number : '.2-2' }}</td>
                                        <td colspan="4" class="text-center">Total Re-allocated LRE Amount</td><td class="text-right">{{reallocatelreamount | number : '.2-2' }}</td>
                                      </tr>
                                      <tr class="font-weight-bold">
                                        <td colspan="4" class="text-center">Total Re-allocated CRX Amount</td><td class="text-right">{{reallocatecrxamount | number : '.2-2' }}</td>
                                        <td colspan="4" class="text-center">Total Re-allocated LRX Amount</td><td class="text-right">{{reallocatelrxamount | number : '.2-2' }}</td>
                                      </tr>
                        
                              </tbody>
                            </table>
                            
                        </div>
                        
                        </form>

                    <!-- end: editble -->

                      <div class="table-responsive" *ngIf = "false">
                          <table class="table table-bordered table-hover">
                            <thead class="thead-light">
                              <tr>
                                <th>APPLICATION</th>
                                <TH>ACTIVITY</TH>
                                <TH>PERIOD</TH>
                                <th>REFERENCE No.</th>
                                <th>REFERENCE STATUS</th>
                                <th>PAYOR</th>
                                <TH>TRANSACTION TYPE</TH>
                                <th>AMOUNT</th>
                                <TH>POSTING STATUS</TH>
                              </tr>
                            </thead>
                            
                            <tbody>
                              <!-- loop for listing the unspecified --> 
                              <tr *ngFor="let unspecified of unspecifieds; let i = index" >
                                <td>{{unspecified.transType}}</td>
                                <td>{{unspecified.description}}</td>
                                <td>{{unspecified.period}}</td>
                                <td>{{unspecified.amount}}</td>
                                <td>{{unspecified.glPostingStatus}}</td>
                              </tr>
                              <!-- Totals -->
                              <tr>
                                <td colspan="2">Total Un-allocated CRE Amount</td><td>{{unallocatedCRE | number : '.2-2' }}</td>
                                <td>Total Un-allocated LRE Amount</td><td>{{unallocatedLRE | number : '.2-2' }}</td>
                              </tr>
                              <tr>
                                <td colspan="2">Total Un-allocated CRX Amount</td><td>{{unallocatedCRX | number : '.2-2' }}</td>
                                <td>Total Un-allocated LRX Amount</td><td>{{unallocatedLRX | number : '.2-2' }}</td>
                              </tr>
                              
                            </tbody>
            
                          </table>
                          </div>
                  </div>
  
                </div>
              </div>
            </div>
          
          <!-- Controls -->
          <div class="row btn-toolbar text-center">
  
              <div class= "col-lg-12">
                                
                <div class="btn-group mr-2">
                  <button type="button" class="btn btn-md btn-primary" (click)="save()" [disabled]="savelabel">Save</button>
                </div>
                
                <div class="btn-group mr-2">
                  <button type="button" class="btn btn-md btn-primary" [disabled]="searchlabel" (click)="search(bankStmtId.get('bankStatementID').value)"
                   >Search</button>
                </div>  
              
                <div class="btn-group mr-2">
                  <button type="button" class="btn btn-md btn-primary" (click)="clear()">Clear</button>
                </div>
  
                <!-- <div class="btn-group mr-2">
                  <button type="button" class="btn btn-md btn-primary" (click)="cancel()">Cancel</button>
                </div> -->
  
                <div class="btn-group mr-2">
                    <button type="button" class="btn btn-md btn-primary" (click)="exit()">Exit</button>
                </div>
  
                <div class="btn-group mr-2">
                  <button type="button" class="btn btn-md btn-primary" (click)="post()" [disabled]="postlabel">Post</button>
                </div>
            
              </div>
  
          </div>

        </div>

      </div>
    </div>
  </div>

</div>