<!-- Debit File Template Assignment -->
<style>
  .col-form-label.required:after {
    color: rgb(250, 4, 4);
    content: "*";
    position: absolute;
    margin-left: 8px;
    top: 7px;
  }
</style>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-primary">
          <i class="fa fa-align-justify"></i> Split Merge Debit File
        </div>
        <div class="card-body">
          <form action="" method="post" [formGroup]="splitmergeSearchForm" (ngSubmit)="onSubmit(splitmergeSearchForm)">
            <div class="form-row">
              <div class="col d-block bg-light">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label required">Period:</label>
                  <div class="col-md-3 col-form-label">
                    <div class="form-check form-check-inline mr-1">
                      <input class="form-check-input" type="date" formControlName="period">
                    </div>
                  </div>
                  <label class="col-md-3 col-form-label required">PayPoint Id:</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control" formControlName="paypointId"
                      (click)="openModalWithComponent()">
                  </div>
                </div>
                <div class="card-header bg-secondary text-success font-weight-bold">
                  <i class="fa fa-align-justify"></i> Split Files
                </div>
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <th>PayPoint Id</th>
                      <th>PayPoint Name</th>
                      <th>Period</th>
                      <th>Strike Day From</th>
                      <th>Strike Day To</th>
                      <th>Split File </th>
                      <th>No.Of Available Rec..</th>
                      <th>Split File name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let spltFile of pagedItems">
                      <td>{{spltFile.paypointId}}</td>
                      <td>{{spltFile.paypointName}}</td>
                      <td>{{spltFile.period | date}}</td>
                      <td>{{spltFile.strikeDateFrom | date}}</td>
                      <td>{{spltFile.strikeDateTo | date }}</td>                      
                      <td>{{spltFile.filename}}</td>                      
                      <td>{{spltFile.numberOfRecords}}</td>
                      <td>{{spltFile.splitmergeFileName}}</td>
                      <!--[checked]="cashier.isSenior == true ? true :false" disabled>-->
                    </tr>
                  </tbody>
                </table>
                <nav>
                  <ul class="pagination">
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                      <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
                      class="page-item active">
                      <a class="page-link" (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                  </ul>
                </nav>
                <div class="card-header bg-secondary text-success font-weight-bold">
                  <i class="fa fa-align-justify"></i> Merged Files
                </div>
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <th>PayPoint Id</th>
                      <th>PayPoint Name</th>
                      <th>Period</th>
                      <th>Strike Day From</th>
                      <th>Strike Day To</th>
                      <th>Merged File </th>
                      <th>No.Of Available Rec..</th>
                      <th>Merged File name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let mrgFile of pagedItems1">
                      <td>{{mrgFile.paypointId}}</td>
                      <td>{{mrgFile.paypointName}}</td>
                      <td>{{mrgFile.period | date}}</td>
                      <td>{{mrgFile.strikeDateFrom | date}}</td>
                      <td>{{mrgFile.strikeDateTo | date }}</td>                      
                      <td>{{mrgFile.filename}}</td>                      
                      <td>{{mrgFile.numberOfRecords}}</td>
                      <td>{{mrgFile.splitmergeFileName}}</td>                      
                    </tr>
                  </tbody>
                </table>
                <nav>
                  <ul class="pagination">
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                      <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
                      class="page-item active">
                      <a class="page-link" (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body" style="align-self: center">
                    <div class="btn-toolbar">
                      <div class="btn-group mr-2">
                        <button [disabled]="!splitmergeSearchForm.valid" type="submit"
                          class="btn btn-md btn-primary">Search</button>
                      </div>
                      <div class="btn-group mr-2">
                        <a href="#"><button type="button" class="btn btn-md btn-primary">Exit</button></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>